* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(235, 239, 244);
}

p, a {
    font-family: 'Tahoma', 'Geneva', 'sans-serif';
    font-size: 14px;
}

#main {
    height: 1000px;
    width: 320px;
    position: relative;
    margin: auto;
}

.block {
    position: relative;
    width: 280px;
    min-height: 140px;
    background-color: white;
    margin: 20px;
    border-radius: 4px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.02);
}

#new_contact {
    min-height: 200px;
    margin-top: 50px;
    padding-bottom: 15px;
}

.block_head {
    margin: 0;
    width: 100%;
    border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
}

.block_head  > p {
    padding: 15px 28px;
}

#new_contact > form {
    width: 100%;
    padding: 20px;
}

#new_contact > form > * {
    margin: 4px 0;
    width: 216px;
    padding: 8px;
    border: rgba(0, 0, 0, 0.1) solid 1px;
    border-radius: 4px;
}

#add {
    position: relative;
    float: right;
    border: none;
    color: white;
    cursor: pointer;
    width: 100px !important;
    margin: 10px !important;
    margin-right: 48px !important;
    background-color: rgb(70, 88, 165);
}

#has {
    color: brown;
    display: block;
    margin: -14px 0 0 20px;
}